@import "../foundation/all";

.dsi-text {
  margin: 0;
  font-family: $body-font-family;
  color: $body-text-color;
}

@each $size, $value in $fs {
  .dsi-text-#{$size} {
    font-size: $value;
  }
}
